html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #232730;
  color: #ccc;
  font-family: "Consolas", "Courier New", Courier, monospace;
  user-select: none;
}

#element-box {
  z-index: 2;
  position: absolute;
  width: 15%;
  top: 20px;
  left: 25px;
}

#properties-box {
  z-index: 2;
  position: absolute;
  width: 15%;
  top: 20px;
  right: 25px;
  text-align: right;
}

.box-title {
  text-decoration: underline;
}

.element-link {
  display: block;
  margin-top: 10px;
}

a:hover {
  color: white;
}

a.highlighted {
  color: white;
}

#properties {
}

.property {
  display: block;
  margin-top: 10px;
}

.property-span {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.property-input {
  box-sizing: border-box;
  display: block;
  /* width: 100%; */
  margin-right: 0;
  margin-left: auto;
  font-family: "Consolas", "Courier New", Courier, monospace;
  text-align: right;
}

#simulation-controls-box {
  z-index: 2;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 35px;
  text-align: center;
}

.simulation-control {
  display: inline-block;
  margin: 10px 5px 0 5px;
}

#canvas {
  z-index: 1;
  position: absolute;
  /* border: 1px solid red; */
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}
